<div class="header">
  <h1>線上文件即時分析</h1>
  <p>.</p>
</div>


<div class="row">


  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="分析階段">
      <!-- 要分析階段 -->
      <div class="card">
        <form id="textarea-rcorners">
          <textarea class='show-content' matInput placeholder="請貼上要分析的文章" [(ngModel)]="textareaContent"
            [ngModelOptions]="{standalone: true}">{{textareaContent}}</textarea>
        </form>
        <mat-card id="rcorners2">
          <mat-card-content>
            <h2 class="example-h2">選擇輸出欄位</h2>

            <section class="example-section">
              <mat-checkbox class="example-margin" [(ngModel)]="R1checked">化學品關鍵字</mat-checkbox>
              <mat-checkbox class="example-margin" [(ngModel)]="R2checked">事故特徵關鍵字</mat-checkbox>
              <mat-checkbox class="example-margin" [(ngModel)]="R3checked">事故訊息關鍵字</mat-checkbox>
            </section>

          </mat-card-content>
        </mat-card>
        <div class="example-button-row">
          <button mat-raised-button color="primary" (click)="submit()">送出</button>
          <button mat-raised-button color="accent" (click)="cancel()">取消</button>
        </div>
      </div>

    </mat-tab>


    <mat-tab label="分析結果">
      <div class="card">

        <!-- 標記文章 -->
        <mat-card class="marked-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>文章標記分析結果</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div *ngIf="finishedOnlineFile['Marked_text'] === undefined" style="text-align: center;">
              <h2>資料接收中。。。</h2>
            </div>
            <textarea *ngIf="finishedOnlineFile['Marked_text'] !== undefined" class='show-content'> {{finishedOnlineFile['Marked_text']}}</textarea>

          </mat-card-content>

        </mat-card>


        <!-- end 標記文章 -->

        <mat-accordion  *ngIf="R1checked">
            <mat-expansion-panel class="show-info">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="show-info">化學品關鍵字統計結果</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <h6 class="show-info" *ngIf="finishedOnlineFile['R1_keyW_list'].length > 0">出現的化學品關鍵字：</h6>
                <mat-chip  *ngFor="let r1 of finishedOnlineFile['R1_keyW_list']">{{
                  r1
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R1_count'] > 0">
                出現化學品關鍵字的種類： {{ finishedOnlineFile["R1_count"] }}
              </h6>
              <h6 class="show-info" *ngIf="finishedOnlineFile['R1_tf'] > 0">
                出現化學品關鍵字的詞頻： {{ finishedOnlineFile["R1_tf"] }}
              </h6>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion  *ngIf="R2checked">
            <mat-expansion-panel class="show-info">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="show-info">事故特徵關鍵字統計結果</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R21_keyW_list'].length > 0">出現的事故特徵關鍵字：</h6>
                <mat-chip *ngFor="let r21 of finishedOnlineFile['R21_keyW_list']">{{
                  r21
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R21_count'] > 0">
                出現事故特徵關鍵字的種類： {{ finishedOnlineFile["R21_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R21_tf'] > 0">
                出現事故特徵關鍵字的詞頻： {{ finishedOnlineFile["R21_tf"] }}
              </h6>


              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R22_keyW_list'].length > 0">出現的事故徵狀關鍵字：</h6>
                <mat-chip *ngFor="let r22 of finishedOnlineFile['R22_keyW_list']">{{
                  r22
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info"  *ngIf="finishedOnlineFile['R22_count'] > 0">
                出現事故徵狀關鍵字的種類： {{ finishedOnlineFile["R22_count"] }}
              </h6>

              <h6 class="show-info"   *ngIf="finishedOnlineFile['R22_tf'] > 0">
                出現事故徵狀關鍵字的詞頻： {{ finishedOnlineFile["R22_tf"] }}
              </h6>


              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R23_keyW_list'].length > 0">出現的事故影響關鍵字：</h6>
                <mat-chip *ngFor="let r23 of finishedOnlineFile['R23_keyW_list']">{{
                  r23
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R23_count'] > 0">
                出現事故影響關鍵字的種類： {{ finishedOnlineFile["R23_count"] }}
              </h6>

              <h6 class="show-info"  *ngIf="finishedOnlineFile['R23_tf'] > 0">
                出現事故影響關鍵字的詞頻： {{ finishedOnlineFile["R23_tf"] }}
              </h6>

              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R24_keyW_list'].length > 0">出現的事故專有名詞關鍵字：</h6>
                <mat-chip *ngFor="let r24 of finishedOnlineFile['R24_keyW_list']">{{
                  r24
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info"  *ngIf="finishedOnlineFile['R24_count'] > 0">
                出現事故專有名詞關鍵字的種類： {{ finishedOnlineFile["R24_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R24_tf'] > 0">
                出現事故專有名詞關鍵字的詞頻： {{ finishedOnlineFile["R24_tf"] }}
              </h6>
            </mat-expansion-panel>
          </mat-accordion>

          <mat-accordion  *ngIf="R3checked">
            <mat-expansion-panel class="show-info">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4 class="show-info" >事故訊息關鍵字統計結果</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R31_keyW_list'].length > 0">出現的交通工具關鍵字：</h6>
                <mat-chip *ngFor="let r31 of finishedOnlineFile['R31_keyW_list']">{{
                  r31
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info"  *ngIf="finishedOnlineFile['R31_count'] > 0">
                出現交通工具關鍵字的種類： {{ finishedOnlineFile["R31_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R31_tf'] > 0">
                出現交通工具關鍵字的詞頻： {{ finishedOnlineFile["R31_tf"] }}
              </h6>


              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R32_keyW_list'].length > 0">出現的包裝容器關鍵字：</h6>
                <mat-chip *ngFor="let r32 of finishedOnlineFile['R32_keyW_list']">{{
                  r32
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R32_count'] > 0">
                出現包裝容器關鍵字的種類： {{ finishedOnlineFile["R32_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R32_tf'] > 0">
                出現包裝容器關鍵字的詞頻： {{ finishedOnlineFile["R32_tf"] }}
              </h6>


              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R33_keyW_list'].length > 0">出現的危害特性關鍵字：</h6>
                <mat-chip *ngFor="let r33 of finishedOnlineFile['R33_keyW_list']">{{
                  r33
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info"  *ngIf="finishedOnlineFile['R33_count'] > 0">
                出現危害特性關鍵字的種類： {{ finishedOnlineFile["R33_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R33_tf'] > 0">
                出現危害特性關鍵字的詞頻： {{ finishedOnlineFile["R33_tf"] }}
              </h6>

              <mat-chip-list>
                <h6 class="show-info"  *ngIf="finishedOnlineFile['R34_keyW_list'].length > 0">出現的救災單位/研究機構關鍵字：</h6>
                <mat-chip *ngFor="let r34 of finishedOnlineFile['R34_keyW_list']">{{
                  r34
                }}</mat-chip>
              </mat-chip-list>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R34_count'] > 0">
                出現救災單位/研究機構關鍵字的種類：
                {{ finishedOnlineFile["R34_count"] }}
              </h6>

              <h6 class="show-info" *ngIf="finishedOnlineFile['R34_tf'] > 0">
                出現救災單位/研究機構關鍵字的詞頻： {{ finishedOnlineFile["R34_tf"] }}
              </h6>
            </mat-expansion-panel>
          </mat-accordion>

      </div>
    </mat-tab>


  </mat-tab-group>

</div>
