.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  /* bottom: 15px; */
  /* max-width: 97%; */
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}


.real-time-alert-title{
  background-color: rgb(212, 194, 194);
  flex: 1 1 auto;
  border-radius: 25px;
  border: 2px solid rgb(223, 154, 136);
  padding: 20px;
  /* width: 200px;
  height: 150px;  */
}
