<div class="grid-container" class="mat-h1">
  <mat-grid-list cols="2" rowHeight="750px">
    <!-- <mat-grid-list cols="2" rowHeight="1200px"> -->
    <!--
      <mat-grid-tile
        *ngFor="let card of (cards | async)"
        [colspan]="card.cols"
        [rowspan]="card.rows"
      >
    -->
    <mat-card class="dashboard-card">
      <mat-toolbar-row class="real-time-alert-title">
        <span>其他</span>
      </mat-toolbar-row>
      <mat-toolbar-row></mat-toolbar-row>
      <p>南科計畫</p>
      <img src="https://raw.githubusercontent.com/guanyuhoujeff/Chemicals_report/master/%E6%99%BA%E6%85%A7%E9%98%B2%E6%95%91%E7%81%BD%E7%A0%94%E7%A9%B6%E5%9C%98%E9%9A%8A.PNG">
    </mat-card>
  </mat-grid-list>
</div>
