.full-width-table {
  width: 100%;
}
table {
  width: 100%;
  text-align: justify-all;
}

th.mat-sort-header-sorted {
  color: black;
}
.example-container {
  height: 600px;
  overflow: auto;
}
.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
  position: sticky;
}

mat-button-toggle {
  border: 1px solid #6dd3d3;
  border-radius: 7px;
  margin-left: 3px;
  margin-right:3px;
  width: 30px;
  height: 30px;
  font-family: 'Nunito Semibold', sans-serif;
  font-size: 14px;
  font-style: bold;
}

.mat-button-toggle-disabled{
  border: 1px solid #25d1b4;
  background-color: #e1dde5;
}

div.center-text{
 margin-left: -8px;
 margin-top: -3px;
}
